<div class="books">
  <% books.each do |book| %>
    <div class="book">
      <img class="thumbnail" src="<%= book['volumeInfo']['imageLinks']['thumbnail']%>" alt="">
      <% if book["my_book_status"].nil? %>
        <form action="/books" method="post">
          <input type="hidden" name="id" value="<%= book["id"] %>">
          <input type="hidden" name="status" value="want to read">
          <input class="want_read" type="submit" value="Want to Read">
        </form>
        <form action="/books" method="post">
          <input type="hidden" name="id" value="<%= book["id"] %>">
          <input type="hidden" name="status" value="read">
          <input class="read" type="submit" value="Mark as Read">
        </form>
      <% else %>
        <div class="status">
          <p><%= book["my_book_status"].capitalize %></p>
          <img src="/images/check.svg" alt="">
        </div>
        <a class="see_my_book" href="/books/<%= book["id"] %>">See my book</a>
      <% end %>
    </div>
  <% end %>
</div>