<section class="detail-book">
    <figure class="detail-book__figure book_img">
      <img class="detail-book__image" src="<%= book.img_url%>" alt="">
      <%if find %>
        <%= refactor_detail_figcaption(book)%>
      <%else%>
        <%= refactor_detail_btn_add_list(book)%>
      <%end%>
    </figure>

    <article class="book-information">
        <h1 class="book__title"><%= book.title%> </h1>
        <%if book.authors%>
          <span class="book__author" >by <%=book.authors.join(", ")%> </span>
        <%end%>
        <p class="book__description"><%=book.description%> </p>
        <%if book.price%>
            <a class="book-btn__buy" href="<%= book.price_buy_link%> " target="back" >
                Buy for <%=book.price%>
                <img src="/images/buy.svg" alt="buy">
            </a>
        <%end%>
    </article>
</section>

