<section class="detail-book">
    <figure class="detail-book__figure book_img">
      <img class="detail-book__image" src="<%= book.img_url%>" alt="">
      <figcaption class="detail-book__figcaption">
        <div class="detail-book__status">
          <%= book.status.capitalize %>
          <% if book.status == "read" %>
            <img src="/images/check.png" alt="read book">
          <% end %>
        </div>

        <div class="detail-book__buttons">
          <a href="/books/<%= book.id %>/edit">
            <img src="/images/edit.png" alt="edit book">
          </a>

          <form class="books-table__delete-form" method="POST" action="<%=book_delete(book)%>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="books-table__delete-button" type="submit">
              <img src="/images/delete.png" alt="delete book">
            </button>
          </form>
        </div>
      </figcaption>
    </figure>

    <article class="book-information">
        <h1 class="book__title"><%= book.title%> </h1>
        <span class="book__author" >by <%=book.authors.join(", ")%> </span>
        <p class="book__description"><%=book.description%> </p>
        <a class="book-btn__buy" href="<%= book.price_buy_link%> " target="back" >
            Buy for <%=book.price%>
            <img src="/images/buy.svg" alt="buy">
        </a>
    </article>
</section>

